/* =============================================================================
	 HTML5 display definitions
	 ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 1em; line-height: 1.4; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }
a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
	 Author:
	 ========================================================================== */
html{
	height:100%;
}
body{
	font-family:'Orator W01 Medium';
	height:100%;
	min-width:1000px;
}
em, i{
	font-family:'Orator W01 Slanted';
	font-style:normal;
}
a {
	color: inherit;
	text-decoration:none;
}
a:hover {
	color: inherit;
	text-decoration:underline;
}
a:visited {
	color: inherit;
}
.copyfont{
	font-family:'Orator W01 Medium';
}

@font-face {
	font-family: 'PastelariaRegular';
	src: url('../fonts/pastelar-webfont.eot');
	src: url('../fonts/pastelar-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pastelar-webfont.woff') format('woff'),
		 url('../fonts/pastelar-webfont.ttf') format('truetype'),
		 url('../fonts/pastelar-webfont.svg#') format('svg');
	font-weight: normal;
	font-style: normal;
}

.heading {
	font-weight: normal;
	font-size: 15px;
	text-transform:uppercase;
}

.heading::before{
	content: '[';
	font-size: 16px;
	margin-right:2px;
}

.heading::after{
	content: ']';
	margin-left:2px;
}

/*header*/
#header{
	position:relative;
	width:1000px;
	height:22%;
	margin:0 auto;
}
#header .logo{
	position:absolute;
	top:60px;
	right:55px;
	width:336px;
	height:48px;
	margin:0;
}
.en #header .logo{
	background:url('../img/logo_en.png') no-repeat;
}
.de #header .logo{
	background:url('../img/logo_de.png') no-repeat;
}

#mainnav{
	position:absolute;
	top:60px;
	left:55px;
	margin:0;
}
#mainnav ul{
	list-style:nole;
}
#mainnav ul li{
	display: inline;
	text-transform: lowercase;
	margin:0 12px 0 0;
}
#mainnav ul li a{
	text-decoration:none;
	color: #9B9797;
}
#mainnav ul li.current a{
	color: #000;
}
#mainnav ul li.language a{
	color: #000;
	font-family:'Orator W01 Slanted';
}
/*main*/
#main{
	display:block;
	position:relative;
	width:100%;
	margin:0 auto;
	height:63%;
}
#main ul.slider{
	position:relative;
	padding:0;
	margin:0;
	list-style:none;
	height:100%;
}
#main ul.slider article{
	position:relative;
	padding:0;
	list-style:none;
	height:100%;
}
#main ul.slider li{
	position:absolute;
	top:0;
	left:0;
	padding:0;
	width:100%;
	height:100%;
	text-align: center;
	display:none;
}
#main ul.slider .imagecontainer{
	position:absolute;
	height: 100%;
	width: 100%;
}
#main ul.slider img{
	position:relative;
	vertical-align: middle;
	height: 100%;
	margin:0 auto;
}
#main ul.slider .captioncontainer{
	position:absolute;
	width:100%;
	height:100%;
	padding:0;
}
#main ul.slider .caption{
	position:relative;
	vertical-align: middle;
	height: 100%;
	width:890px;
	margin:0  auto;
	color: #9B9797;
}
#main ul.slider .caption h1{
	position:absolute;
	bottom:68px;
	right:0;
	font-size: 15px;
	text-transform:uppercase;
	font-weight:normal;
}
#main ul.slider .caption p{
	position:absolute;
	bottom:30px;
	right:0;
	font-size: 13px;
	text-align:right;
	line-height:18px;
}

/*content*/
.content{
	width:890px;
	margin: 0 auto;
	padding-top:20px;
}

.content .leftcolumn{
	width: 455px;
	float: left;
	margin-left:55px;
}
.content .rightcolumn{
	width: 380px;
	float: right;
}

.content h2{
	font-weight: normal;
	font-size: 15px;
	text-transform:uppercase;
	margin-bottom:0;
}

.content h2::before{
	content: '[';
	font-size: 16px;
	margin-right:2px;
}

.content h2::after{
	content: ']';
	margin-left:2px;
}

.content .composedtitle h2,
.content .composedtitle .curated{
	float:left;
}
.content .curated{
	font-size:14px;
	color: #9B9797;
	margin: 13px 0 0 12px;
	text-transform:lowercase;
}

.content .location{
	font-size:14px;
	color: #9B9797;
	margin: 13px 0 0 0;
	text-transform:lowercase;
}

.content ul{
	list-style:none;
	margin:0;
	padding:0;
}
.content ul,
.content p{
	margin:1em 0 0 50px;
	font-size: 14px;
}
.content p{
	line-height:20px;
}

.content li{
	margin-bottom:15px;
}
.content a.download{
	background:url('../img/arrow_down.png') left no-repeat;
	padding-left:20px;
}
/*sponsors*/
.sponsors .vanishingpoints{
	
	width:289px;
	height:116px;
	background:url('../img/sponsors_vanishingpoints.png') no-repeat;
	margin: 40px 0 0 0 ;
}

.sponsors .zeitlos{
	
	width:80px;
	height:116px;
	background:url('../img/sponsors_zeitlos.png') no-repeat;
	margin:90px 0 50px 0;
}

/*footer*/
#footer{
	position:relative;
	width:1000px;
	height:13%;
	margin:0 auto;
}

#footer .box{
	float:left;
	margin:20px 0 0 55px;
}

#footer .date{
	height:30px;
	float:left;
	margin:0;
	font-size:30px;
	font-family: 'PastelariaRegular';
}
#footer .address{
	height:30px;
	float:left;
	font-size:11px;
	padding-top:10px;
	margin-left:15px;
	line-height: 12px;
}

#footer .mailing {
	float:right;
	margin: 29px 20px 0 0;
	font-weight: normal;
	font-size: 13px;
	text-transform:uppercase;
}

#footer .mailing::before{
	content: '[';
	margin-right:1px;
}

#footer .mailing::after{
	content: ']';
	margin-left:1px;
}

#footer .logos .vanishingpoints{
	float:right;
	margin:20px 15px 0 0;
	width:88px;
	height:29px;
	background:url('../img/footer_vanishingpoints.png') no-repeat;
}

#footer .logos .zeitlos{
	float:right;
	margin:20px 55px 0 0 ;
	width:23px;
	height:29px;
	background:url('../img/footer_zeitlos.png') no-repeat;
}

#footer .fb-like{
	margin: 5px 55px 0 0;
	float:right;
}







/* ==|== non-semantic helper classes ========================================
	 Please define your styles before this section.
	 ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
	 Print styles.
	 Inlined to avoid required HTTP connection: h5bp.com/r
	 ========================================================================== */

@media print {
	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } /* h5bp.com/t */
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}
